Flask==2.0.3
Flask-Cors==3.0.10
peakpx-api==0.0.1  # Assuming this is the correct package for PeakPxApi, update accordingly
uuid==1.30
joblib==1.1.0
numpy==1.21.4
scikit-learn==1.0.1
cachetools==4.2.4
better_profanity==0.6.1
gunicorn==20.1.0
